<div class="page-header">
  <h1> Developers</h1>
</div>


<div class="row">

  
  <div class="col-md-12">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">ID: 10231230KLQ-000123</div>
      <div class="panel-body">

        <div class="list-group">

          <a class="list-group-item">
            <div class="col-xs-12 col-sm-1">
              <img src="https://i1.wp.com/tr1.cbsistatic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png?ssl=1"
                 class="img-responsive img-circle" />
            </div>
            <div class="col-xs-12 col-sm-9">

              <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" value="{{Firstname}}">
              </div>

           
              

            </div>
            <div class="col-xs-12 col-sm-2">
            <button class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
            </div>
            <div class="clearfix"></div>
          </a>

      </div>

    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">Junior</div>
            <div class="panel-body">
              <tag-input [(ngModel)]='JrItems' >
                
              </tag-input>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Intermediate</div>
            <div class="panel-body">
              <tag-input [(ngModel)]='IntItems'>
               
              </tag-input>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">Senior</div>
            <div class="panel-body">
            <tag-input [(ngModel)]='SrItems'>
             
            </tag-input>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Lead</div>
            <div class="panel-body">
            <tag-input [(ngModel)]='LeadItems'>
            
            </tag-input>
            </div>
        </div>
    </div>
  </div>
</div>