<div class="page-header">
  <h1> Developers</h1>
</div>


<div class="row">

  
  <div class="col-md-12">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">ID: {{employee.id}}</div>
      <div class="panel-body">

        <div class="list-group">

          <a class="list-group-item">
            <div id="userImage" class="col-xs-12 col-sm-1">
              <img src="https://i1.wp.com/tr1.cbsistatic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png?ssl=1"
                 class="img-responsive img-circle" />
            </div>
            <div class="col-xs-12 col-sm-7">

              <div class="form-group">
                <label>Name:</label>
                <h2 id="employeeName" *ngIf="!editName">{{employee.name}}</h2>
                <input *ngIf="editName" type="text" class="form-control" value="{{employee.name}}">
              </div>

           
              

            </div>
            <div class="col-xs-12 col-sm-4">
              <button id="editButton" *ngIf="!editName" (click)="editUser()" class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span> Edit </button>
            
              <button id="saveButton" *ngIf="editName" (click)="closeEditUser()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>

              <button id="cancelButton" *ngIf="editName" (click)="closeEditUser()" class="btn btn-default">Cancel </button>
            </div>
            <div class="clearfix"></div>
          </a>

      </div>

    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">Junior</div>
            <div class="panel-body">
              <ul>
                <li *ngFor="let juniorSkill of employeeSkills.juniorSkills" >
                <label>{{juniorSkill}}</label>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Intermediate</div>
            <div class="panel-body">
              <ul>
                <li *ngFor="let intermediateSkill of employeeSkills.intermediateSkills" >
                <label>{{intermediateSkill}}</label>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">Senior</div>
            <div class="panel-body">
              <ul>
                <li *ngFor="let seniorSkill of employeeSkills.seniorSkills" >
                <label>{{seniorSkill}}</label>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Lead</div>
            <div class="panel-body">
              <ul>
                <li *ngFor="let leadSkill of employeeSkills.leadSkills" >
                <label>{{leadSkill}}</label>
                </li>
              </ul>
            </div>
        </div>
    </div>
  </div>
</div>