<div class="page-header">
  <h1>Look developers by Skills :</h1>
 
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          
          <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="What skill do you want to look for?"/>
          <!--<input type="text" id="tags" class="form-control" placeholder="What skill do you want to look for?">-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="container-fluid">
  <div class="row">

    <section class="content">
      
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="btn-group">
                  <button type="button" class="btn btn-danger btn-filter" data-target="pagado">Junior</button>
                  <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Intermediate</button>
                  <button type="button" class="btn btn-success btn-filter" data-target="cancelado">Senior</button>
                                  <button type="button" class="btn btn-info btn-filter" data-target="cancelado">Lead</button>
                  <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-danger">
               <div class="panel-heading">Junior <span class="pull-right"><input type="text" name=""></span></div>
            
                <div class="table-container">
                  <table class="table table-filter" >
                    <tbody>
                      <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Erik Caceres
                                
                                                            
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                          
                            <div class="media-body">
                              
                              <h4 class="title">
                                Fabiola Alonso
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="cancelado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Herrera Claudio
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pagado" class="">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Oscar García
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">                          
                              <h4 class="title">
                                Rudy Carrillo
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                                        <tr data-status="pagado">
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="media">

                                                    <div class="media-body">

                                                        <h4 class="title">
                                                            Gonzalo Jimenez
                                                            
                                                            
                                                        </h4>
                                                        <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Eric Zaldivar
                                                                                        
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  
                  </table>
                   <span class="pull-right">Total : XXX</span>
                </div>
              
              </div>
           
            </div> 

            <div class="col-md-3">
              <div class="panel panel-warning">
               <div class="panel-heading">Intermedium <span class="pull-right"><input type="text" name=""></span></div>
            
                <div class="table-container">
                  <table class="table table-filter" >
                    <tbody>
                      <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Erik Caceres
                                
                                                            
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                          
                            <div class="media-body">
                              
                              <h4 class="title">
                                Fabiola Alonso
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="cancelado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Herrera Claudio
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pagado" class="">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Oscar García
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">                          
                              <h4 class="title">
                                Rudy Carrillo
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                                        <tr data-status="pagado">
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="media">

                                                    <div class="media-body">

                                                        <h4 class="title">
                                                            Gonzalo Jimenez
                                                            
                                                            
                                                        </h4>
                                                        <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Eric Zaldivar
                                                                                        
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              <span class="pull-right">Total : XXX</span>
              </div>
            
            </div> 
            <div class="col-md-3">
              <div class="panel panel-success">
               <div class="panel-heading">Senior <span class="pull-right"><input type="text" name=""></span></div>
            
                <div class="table-container">
                  <table class="table table-filter" >
                    <tbody>
                      <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Erik Caceres
                                
                                                            
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                          
                            <div class="media-body">
                              
                              <h4 class="title">
                                Fabiola Alonso
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="cancelado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Herrera Claudio
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pagado" class="">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Oscar García
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">                          
                              <h4 class="title">
                                Rudy Carrillo
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                                        <tr data-status="pagado">
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="media">

                                                    <div class="media-body">

                                                        <h4 class="title">
                                                            Gonzalo Jimenez
                                                            
                                                            
                                                        </h4>
                                                        <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Eric Zaldivar
                                                                                        
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              <span class="pull-right">Total : XXX</span>
              </div>
            
            </div> 
            <div class="col-md-3">
              <div class="panel panel-info">
               <div class="panel-heading">Lead <span class="pull-right"><input type="text" name=""></span></div>
            
                <div class="table-container">
                  <table class="table table-filter" >
                    <tbody>
                      <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Erik Caceres
                                
                                                            
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                          
                            <div class="media-body">
                              
                              <h4 class="title">
                                Fabiola Alonso
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="cancelado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Herrera Claudio
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pagado" class="">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Oscar García
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr data-status="pendiente">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">                          
                              <h4 class="title">
                                Rudy Carrillo
                                
                                                            
                              </h4>
                              <!-- <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                                        <tr data-status="pagado">
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="media">

                                                    <div class="media-body">

                                                        <h4 class="title">
                                                            Gonzalo Jimenez
                                                            
                                                            
                                                        </h4>
                                                        <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="pagado">
                        <td>
                          
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <div class="media">
                            
                            <div class="media-body">
                              
                              <h4 class="title">
                                Eric Zaldivar
                                
                              </h4>
                    <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              <span class="pull-right">Total : XXX</span>
              
              </div>
            </div> 
          </div>
        </div>        
      </div>
    </section>
    
  </div>
</div>


