#editButton {
	margin-bottom: -73px;
}

#saveButton {
	margin-bottom: -73px;
	display: inline-block;
}

#cancelButton {
	margin-bottom: -73px;
	display: inline-block;
}

#families {
	margin-top: 20px;
}

.glyphicon-plus {
	font-size: 11px;
	-webkit-text-stroke: 1px white;
}

.glyphicon-remove {
	font-size: 11px;
	-webkit-text-stroke: 1px white;
}

.glyphicon-ok {
	font-size: 11px;
	-webkit-text-stroke: 1px white;
}

.btn-xs {
	float: right;
}