<div id="selectionList" class="panel panel-default">
  <div class="panel-heading">Developer list</div>
  <div class="panel-body">

    <div class="list-group">
      <a *ngFor="let employee of employees | paginate: {itemsPerPage: 5, currentPage:page, id: '1'} | generalFilter: filter" routerLink="/developers/{{employee.id}}" class="list-group-item">
        <div class="col-xs-12 col-sm-3">
          <img src="https://i1.wp.com/tr1.cbsistatic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png?ssl=1"
             class="img-responsive img-circle" />
        </div>
        <div class="col-xs-12 col-sm-9">
            <h3 id="employeeName" class="list-group-item-heading">{{employee.name}}</h3>
        </div>
        <div class="clearfix"></div>
      </a>
      <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>
  </div>
</div>
</div>

