
	<table>
		<tr>
			<td>
				<app-skill-level-list [levelName]="strJunior" [levelColor]="colorJunior"></app-skill-level-list>
			</td>
			<td>
				<app-skill-level-list [levelName]="strIntermediate" [levelColor]="colorIntermediate"></app-skill-level-list>
			</td>
			<td>
				<app-skill-level-list [levelName]="strSenior" [levelColor]="colorSenior"></app-skill-level-list>
			</td>
			<td>
				<app-skill-level-list [levelName]="strLead" [levelColor]="colorLead"></app-skill-level-list>
			</td>
		</tr>
	</table>

