<div class="panel" id="panel" [style.background-color]="headerColor">
	<div class="panel-heading">{{levelName}}<span class="pull-right"><input type="text" id="txtSearch" [(ngModel)]="filter" placeholder="Search skill"></span></div>

	<div class="table-container" [style.background-color]="containerColor">
		<table class="table table-filter" >
			<tbody>
              <tr routerLink="/skills/{{Skill.id}}" *ngFor="let Skill of skills | generalFilter: filter" data-status="pagado">
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  <div class="media">
                    
                    <div class="media-body">
                      
                      <h4 class="title">
                        {{Skill.name}}                   
                      </h4>
            <!--          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> -->
                    </div>
                  </div>
                </td>
              </tr>       
            </tbody>
		</table>
	</div>
</div>
